<div>
  Search Stage par description
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Ref</th>
      <th>Titre</th>
      <th>Description</th>
      <th>Entreprise</th>
      <th>Disponible</th>
      <th>Nbre Interesse</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stage of Stage">
      <td>{{ stage.id }}</td>
      <td>{{ stage.ref }}</td>
      <td>{{ stage.titre }}</td>
      <td>{{ stage.description }}</td>
      <td>{{ stage.entreprise }}</td>
      <td>{{ stage.disponible }}</td>
      <td>
        {{ stage.nbrInteresse }}

      </td>
      <td>
        <!-- <button (click)="editStage(stage.id)">Edit</button> -->
      </td>
    </tr>
    </tbody>
  </table>
</div>
